.burgerMenu {
    position: fixed;
    top: 0;
    left: 0;

    width: 200px;
    height: 100vh;

    background-color: rgb(0, 0, 119);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    transform: translateX(-75%);
    transition: all 0.3s ease-in-out;

    .link {
        width: 80%;
        height: 20px;
        padding-left: 5px;
        font-size: large;
        border: 1px solid rgb(0, 0, 119);
        border-radius: 5px;

        &:hover {
            background-color: orange;
        }

        &Active {
            @extend .link;
            background-color: rgb(0, 0, 71);
            border-color: white;

            @media(max-width: 1150px) {
                border: 1px solid white !important;
                border-top: none !important;
                border-bottom: none !important;
            }
        }

        @media(max-width: 1150px) {
            width: 125px;
            min-width: 125px;
            height: 100%;

            border: none;
            border-radius: 0px;

            align-content: center;
            text-align: center;
        }
    }

    > * {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s allow-discrete;
    }

    :nth-child(1) {
        visibility: visible;
        opacity: 1;
    }

    &Active {
        @extend .burgerMenu;
        transform: translateX(0);

        > * {
            visibility: visible;
            opacity: 1;
        }
    }

    @media(max-width: 1150px) {
        position: static;

        width: 100vw;
        height: 50px;

        margin-bottom: 10px;

        flex-direction: row;
        justify-content: end;
        gap: 0px;

        transition: none;
        transform: translateX(0);

        border-radius: 10px;

        > * {
            visibility: visible;
            opacity: 1;
            transition: none;
        }

        :nth-child(1) {
            visibility: hidden;
            opacity: 0;
        }
    }
}